version: '3.8'

services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    restart: always

  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "5050:5001"
    environment:
      - REDIS_URL=redis://redis:6379
      - CLIENT_URL=http://localhost:8080
    env_file:
      - ./server/.env
    depends_on:
      - redis
    restart: always

  client:
    build:
      context: ./client
      dockerfile: Dockerfile
      args:
        # Pass variables to Docker build args so Vite can bundle them
        - VITE_SOCKET_URL=http://localhost:5050
    ports:
      - "8080:80"
    env_file:
      - ./client/.env
    depends_on:
      - server
    restart: always
